*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.body{
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
}

.template{
    width: 960px;
    margin: 0 auto;
}

.clear{
    overflow: hidden;
}

.headersection{
    height: 80px;
    background: #333333;
}

.header{

}

.header-left{
    float: left;
    width: 400px;
}

.header-left h2{
    color: #fff;
    font-size: 40px;
    line-height: 70px;
    padding-left: 30px;
}

.header-right{
    float: right;
    width: 485px;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.header-right a{
    color: #fff;
    text-decoration: none;
}

.header-right a:hover, #active{
    color: #00ADEF;
}

.main-section{
    background: #fff;
}

.slogan-section{
    margin: 30px;
    border-bottom: 2px dotted #c3c3c0;
    padding-bottom: 20px;
}

.slogan-section .and-sign{
    color: #00ADEF;
}

.slogan-section h2{
    font-size: 50px;
    line-height: 60px;
    color: #000;
}

.slogan-section h3{
    font-size: 40px;
    line-height: 40px;
    color: #C3C3C0;
}

.description{
    margin: 30px;
    border-bottom: 2px dotted #c3c3c0;
    padding-bottom: 30px;
}

.description p{
    font-size: 25px;
    line-height: 30px;
    color: #232121;
}