*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.body{
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
}

.template{
    width: 960px;
    margin: 0 auto;
}

.clear{
    overflow: hidden;
}

.headersection{
    height: 80px;
    background: #333333;
}

.header-left{
    float: left;
    width: 400px;
}

.header-left h2{
    color: #fff;
    font-size: 40px;
    line-height: 70px;
    padding-left: 30px;
}

.header-right{
    float: right;
    width: 485px;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.header-right a{
    color: #fff;
    text-decoration: none;
}

.header-right a:hover, #active{
    color: #00ADEF;
}

.main-section{
    background: #fff;
}

.slogan-section{
    margin: 30px;
    border-bottom: 2px dotted #c3c3c0;
    padding-bottom: 20px;
}

.slogan-section .and-sign{
    color: #00ADEF;
}

.slogan-section h2{
    font-size: 50px;
    line-height: 60px;
    color: #000;
}

.slogan-section h3{
    font-size: 40px;
    line-height: 40px;
    color: #C3C3C0;
}

.description{
    margin: 30px;
    border-bottom: 2px dotted #c3c3c0;
    padding-bottom: 30px;
}

.description p{
    font-size: 25px;
    line-height: 30px;
    color: #232121;
}

.services{
    background: #00adef;
    width: 210px;
    margin-left: 30px;
    padding: 35px;
    float: left;
    margin-bottom: 30px;
    box-shadow: 4px 3px 3px 0px #999999;
}

.services h2{
    color: #fff;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px dotted #fff;
    padding-bottom: 10px;
}

.services p{
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
}

.readmore{
    margin-top: 25px;
    text-align: center;
    background: #0076a4;
    padding: 15px;
    box-shadow: 0px 2px 2px 1px rgb(52, 96, 115);
}

.readmore a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore a:hover{
    color: #22b4ee;
}

.main-bottom{
    margin: 28px;
    border-top: 2px dotted #adafb9;
    border-bottom: 2px dotted #adafb9;
}

.client-section{
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 480px;
    border-right: 2px dotted #adafb9;
}

.client-section h2{
    padding-bottom: 25px;
}

.client-image{
    float: left;
    width: 60px;
    height: 40px;
    margin-right: 50px;
}

.client-image img{
    height: 95px;
}

.client-description{
    float: left;
    width: 370px;
    margin-bottom: 45px;
}

.client-description p{
    color: #999999;
    font-size: 16px;
    line-height: 20px;
}

.client-description p a{
    color: #00adef;
    text-decoration: none;
}

.client-name{
    font-family: monospace;
    font-weight: bold;
    font-size: 19px;
    margin-top: 7px;
    padding-bottom: 5px;
}
.project-section{
    float: right;
    width: 400px;
}

.project-section h2{
    margin-top: 40px;
    padding-bottom: 20px;
}

.project-section h3{
    padding-bottom: 12px;
    color: #999;
    font-size: 20px;
    line-height: 25px;
}

.project-section img{
    margin-bottom: 10px;
    width: 25rem;
}

.project-section p{
    color: #9999A7;
    font-size: 17px;
    text-align: justify;
    line-height: 20px;
    padding-bottom: 15px;
}

.project-section p a{
    color: #00adef;
    font-size: 16px;
    text-decoration: none;
}

.footer-section{
    margin-left: 30px;
}

.footer-section p{
    color: #999999;
    padding-bottom: 30px;
}